<a href="/"><img src="/assets/88x31/lina.gif" alt="My badge"></a>

{% if is_tor %}
    <a href="https://www.torproject.org/"><img src="/assets/88x31/tor.png" alt="Tor"></a>
{% else %}
    <a href="https://we-are-jammin.xyz/"><img src="/assets/88x31/jammin.webp" alt="We are jammin"></a>
{% endif %}

<a href="https://magmaus3.eu.org/"><img src="/assets/88x31/magmaus3.gif" alt="Maia"></a>
<a href="https://notnite.com/"><img src="/assets/88x31/notnite.png" alt="notnite"></a>
<a href="https://honbra.com/"><img src="/assets/88x31/honbra.png" alt="honbra"></a>
<a href="https://eightyeightthirty.one/" title="88x31"><img src="/assets/88x31/eightyeightthirty.one.png" alt="88x31"></a>
<a href="https://slonk.ing/" title="slonkazoid"><img src="/assets/88x31/slonkazoid.png" alt="slonk.ing"></a>
<a href="https://adryd.com/" title="adryd"><img src="/assets/88x31/adryd.png" alt="adryd"></a>
<a href="https://store.steampowered.com/app/17410/Mirrors_Edge/" title="Mirrors Edge"><img src="/assets/88x31/mirrorsedge.png" alt="I love edging"></a>
<a href="https://shrecked.dev/" title="shrecknt"><img src="/assets/88x31/shrecknt.png" alt="shrecknt"></a>
<a href="https://goldenstack.net/" title="GoldenStack"><img src="/assets/88x31/goldenstack.png" alt="GoldenStack"></a>
<a href="#"><img src="/assets/88x31/no_external_sources.png" alt="No external sources"></a>
<a href="https://matdoes.dev/retro"><img src="/assets/88x31/mat.png" alt="mat"></a>
<a href="https://rexbluefox.dev/"><img src="/assets/88x31/bluefox.png" alt="RexBlueFox"></a>
<a href="https://112batman.com/"><img src="/assets/88x31/112batman.gif" alt="112batman"></a>
<a href="https://nikolan.xyz/" title="nikolan"><img src="/assets/88x31/nikolan.png" alt="nikolan"></a>
<a href="https://paddy.li/" title="paddy"><img src="/assets/88x31/paddy.png" alt="paddy"></a>
<a href="https://auxim.gay/"><img src="/assets/88x31/auxim.png" alt="Auxim"></a>
<a href="https://freifunk.net/"><img src="/assets/88x31/freifunk.png" alt="Freifunk"></a>
<label for="freaky" class="freaky-label"><img src="/assets/88x31/freakmode.gif" alt="Freaky mode"></label>
<a href="#"><img src="/assets/88x31/e.gif" alt="powered by estrogen"></a>
<a href="https://cbax.dev/"><img src="/assets/88x31/cbax.gif" alt="cbax"></a>
<a href="https://sipacid.com/"><img src="/assets/88x31/sipacid.gif" alt="sipacid"></a>
<a href="https://funtimes909.xyz/"><img src="/assets/88x31/funtimes909.png" alt="funtimes909"></a>
<a href="https://northernsi.de/"><img src="/assets/88x31/northernside.png" alt="northernsi.de"></a>
<a href="https://ees4.dev/"><img src="/assets/88x31/ees4.png" alt="eesa"></a>
<a href="https://veronoi.cc/"><img src="/assets/88x31/veronoicc.gif" alt="Vero (veronoicc)"></a>
<a href="https://restartb.xyz/"> <img src="/assets/88x31/restart.png" alt="restartb.xyz"></a>
<a href="https://tufo.dev/"><img src="/assets/88x31/tufo.png" alt="tufo.xyz"></a>
<a href="https://kibty.town"><img src="/assets/88x31/kibty-town.gif" alt="kibty.town/eva"></a>
<a href="https://zptr.cc/"><img src="/assets/88x31/zeroptr.png" alt="Yui"></a>
<a href="https://haylinmoore.com/"><img src="/assets/88x31/haylin.png" alt="Haylin Moore"></a>
<a href="https://www.thomasricci.dev"><img src="/assets/88x31/thomasricci.png" alt="Thomas Ricci"></a>
<a href="https://freieslabor.org/"><img src="/assets/88x31/freieslabor.png" alt="Freies Labor"></a>
<a href="https://lona.moe/"><img src="/assets/88x31/lona.gif" alt="Lona"></a>
<a href="https://eps-dev.de/"><img src="/assets/88x31/eps-dev.png" alt="eps-dev.de (Lillychan)"></a>
<a href="https://ezri.pet"><img src="/assets/88x31/ezri.png" alt="Ezri"></a>
<a href="https://nexy7574.co.uk/"><img src="/assets/88x31/nexy.webp" alt="Nexy7574"></a>
<a href="https://patsore.org"><img src="/assets/88x31/patsore.png" alt="Patsore"></a>
<a href="https://cryne.me"><img src="/assets/88x31/cryne.webp" alt="Paddi"></a>
<a href="http{# no https, noqa #}://makea.fish/"><img src="/assets/88x31/makeafish.png" alt="Come back at 11:11"></a>
<a href="https://bobdahacker.com/"><img src="/assets/88x31/bob.png" alt="BobDaHacker"></a>
<a href="https://www.theresnotime.co.uk/"><img src="/assets/88x31/theresnotime.png" alt="Sammy (theresnotime)"></a>
<a href="https://enjarai.dev/"><img src="/assets/88x31/enjarai.png" alt="Enjarai"></a>