<!--
    Yeah. There is none. No JavaScript.
    Yes. The spotfiy and discord status update automatically. No JavaScript.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lina.sh</title>
    <meta content="lina.sh" property="og:title" />
    <meta content="Hey! Welcome to my website!" property="og:description" />
    <meta content="https://lina.sh/" property="og:url" />
    <meta content="https://lina.sh/assets/lina_shade_transparent_smoller.png" property="og:image" />
    <meta content="#FF93B7" data-react-helmet="true" name="theme-color" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="/blog/rss.xml">
    <link rel="stylesheet" href="/assets/style.css?hash={{ style_hash }}">
    <style>
        :root {
              --links: #FFA8C0;
              --links-hover: #fd8ab0;
              --highlight: #FF93B7;
        }

        .seconds::before, .hours::before, .minutes::before {
            animation-delay: -{{ day_seconds }}s;
        }

    </style>
</head>
<body>
<div class="wrapper">
    <div class="terminal-wrapper">
        <input type="checkbox" id="show-terminal">
        <div class="secret">
            <p>
                ...why would you do that? why the hell did you remove the terminal??
            </p>
            <label for="show-terminal" class="show-again">sorry...</label>
        </div>
        <div class="terminal">
            <div class="topbar">
                <span class="left-bar">
                    <span class="clock">
                        <img src="/assets/clock.svg" alt="Clock" width="16" height="16" class="clock-icon">
                        <span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span>
                        <span class="tz">({{ tz }})</span>
                    </span>
                    | <a href="/blogs">blog</a> ← please read<span class="rss-link"> | <a href="/blog/rss.xml">rss</a></span>
                </span>
                <label for="show-terminal" class="close"></label>
            </div>
            <div class="content">
                <section id="welcome">
                    <pre id="welcomeText">
 _   _                             _
| | (_)  _ __     __ _       ___  | |__
| | | | | '_ \   / _` |     / __| | '_ \
| | | | | | | | | (_| |  _  \__ \ | | | |
|_| |_| |_| |_|  \__,_| (_) |___/ |_| |_|
</pre>
            </section>
            <section id="about_me" class="nomargin">
                <span class="prefix">
                    <span style="color: #747f8d;">
                        root@<span class="servername">lina.sh</span><span class="shortServername">lina</span>
                    </span>:~<span style="color: #747f8d;">$ </span>
                </span>
                <span class="command">cat about_me.txt</span>
                <div class="content-wrapper">
                    <img src="/assets/lina_shade_transparent_smoller.png" alt="my profile picture" class="about-image-separate" width="1024" height="1024">
                    <div class="text-content">
                        <input type="checkbox" id="showImage" style="display: none;" autocomplete="off">
                        <div class="about-image-inline">
                            <div class="about-image-topbar">
                                <span>pfp by <a href="https://ivymoths.carrd.co/" target="_blank">ari</a></span>
                                <label for="showImage" class="close"></label>
                            </div>
                            <img src="/assets/lina_shade_transparent_smoller.png" alt="my profile picture" width="1024" height="1024">
                        </div>
                        Hi! I'm Lina, a {{age}}-year-old developer from Germany!<br>
                        You might know me from <a href="https://cuiiliste.de/">CUII-Liste</a>, a project that publishes a secret list of domains blocked by
                        German ISPs and <b>exposed</b> wrongful blocking of domains.<br>
                        If you're curious to find out more, there's English articles from <b>TorrentFreak</b> (<a href="https://torrentfreak.com/17-year-old-student-exposes-germanys-secret-pirate-site-blocklist-240822/">1</a>)(<a href="https://torrentfreak.com/homebrew-transparency-portal-reveals-needlessly-blocked-pirate-sites-240928/">2</a>),
                        or German ones from <b>Heise</b> (<a href="https://heise.de/-9847202">1</a> [<a href="https://heise.de/-9847399">en</a>])(<a href="https://heise.de/-9959663">2</a> [<a href="https://heise.de/-9960346">en</a>]) and
                        <b>Netzpolitik</b> (<a href="https://netzpolitik.org/2024/cuii-liste-diese-websites-sperren-provider-freiwillig/">1</a>)(<a href="https://netzpolitik.org/2024/cuii-viele-netzsperren-wirken-laenger-als-erlaubt/">2</a>)(<a href="https://netzpolitik.org/2024/cuii-liste-internetprovider-heben-39-netzsperren-auf/">3</a>).
                        There's more articles from Golem, Tarnkappe.info, winfuture and others, but I can't list them all here. I also worked on some Minecraft related projects in the past!<br>
                        I <b>love</b> programming in Python, Java, JavaScript and Rust.<br>
                        (Ok, that JavaScript part was a lie, this website is made entirely without JS.<span id="that_one_linebreak"><br></span>
                        &nbsp;And yes, my discord and <a href="/blog/spotify-status-without-js">spotify status</a> <i>do</i> update dynamically <b>without</b> JS)<br>
                    </div>
                </div>
            </section>
            <section id="socials">
                <span class="prefix">
                        <span style="color: #747f8d;">root@<span class="servername">lina.sh</span><span class="shortServername">lina</span></span>:~<span style="color: #747f8d;">$ </span></span>
                <span class="command">./socials.sh</span>
            <table>
                <tbody>
                    <tr>
                        <td><img src="/assets/blog.svg" alt="Blog" width="19" height="19"></td>
                        <td><a href="/blogs">my blog</a> <i>(please give it a read!)</i> (<a href="/blog/rss.xml">rss</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/discord.svg" alt="Discord logo" width="19" height="19">
                        </td>
                        <td>@lina_x64
                            {% if discord_status != None %}
                                <div id="discord_status">
                                    <iframe src="/discord_status?refresh_every=9" id="status1" height="20em"></iframe>
                                    <iframe src="/discord_status?refresh_every=10" id="status2" height="20em"></iframe>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/github.svg" alt="GitHub logo" width="19" height="19">
                        </td>
                        <td><a href="https://github.com/lina-x64">lina-x64</a></td>
                    </tr>
                    <tr>
                        <td><img src="/assets/matrix.svg" width="19" height="19" alt="Matrix logo"></td>
                        <td><a href="https://matrix.to/#/@me:lina.sh">@me:lina.sh</a></td>
                    </tr>
                    <tr>
                        <td><img src="/assets/mail.svg" alt="Email logo" width="19" height="19"></td>
                        <td>
                            <iframe src="/email.svg" style="border:none; width: 100%; height: 1em;vertical-align: middle;"></iframe>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/assets/mastodon.svg" alt="Mastodon logo" width="19" height="19"></td>
                        <td><a href="https://ohai.social/@lina">@lina@ohai.social</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="discordInv">
                {% include 'partials/discord_invite.html' %}
            </div>
        </section>
        <section id="donations" class="nomargin">
            <span class="prefix">
                <span style="color: #747f8d;">root@<span class="servername">lina.sh</span><span class="shortServername">lina</span></span>:~<span style="color: #747f8d;">$ </span>
            </span>
            <span class="command">support --list-methods</span>
            <div class="donation-grid">
                <a href="{{ const.PAYPAL_DONATION_URL }}" target="_blank" rel="noopener" class="donation-item paypal">
                    <img src="/assets/paypal.svg" alt="">PayPal</a>
                -=-
                <a href="{{ const.KO_FI_DONATION_URL }}" target="_blank" rel="noopener" class="donation-item ko-fi">
                    <img src="/assets/kofi.svg" alt="" >Ko-fi</a>
                <span id="crypto-donations">
                    -=-
                    <label for="show-xmr" class="donation-item xmr">
                        <img src="/assets/xmr.svg" alt="">XMR</label>
                    -=-
                    <label for="show-btc" class="donation-item btc"><img src="/assets/btc.svg" alt="">BTC</label>
                </span>
            </div>
        </section>

        <section id="pgpSection" class="nomargin">
            <span class="prefix">
                <span style="color: #747f8d;">root@<span class="servername">lina.sh</span><span class="shortServername">lina</span></span>:~<span style="color: #747f8d;">$ </span></span>
            <span class="command" id="curlPgpCommand">curl <a href="https://lina.sh/pgp">https://lina.sh/pgp</a></span><span class="command" id="alternativePgpCommand">gpg --export</span><span id="blinking_cursor"></span>
            <input type="checkbox" id="showPgp">
            <label id="showPgpLabel" for="showPgp">
                <svg id="showPgpSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24"><path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"/></svg>
            </label>
            <a id="downloadPgp" href="/pgp" download>
                <span id="downloadPgpText">Download PGP</span><img src="/assets/download.svg" alt="Download PGP">
            </a>
            <pre id="pgp">
I have a new PGP key, read the info at <a href="/assets/new_pgp_key.txt">/assets/new_pgp_key.txt</a>

{{ pgp_key }}</pre>
                </section>
            </div>
        </div>
    </div>
    <section id="badges">
        {% include 'partials/badges.html' %}
    </section>

    <input type="checkbox" id="freaky">
    <div class="freakedUp">
        <div class="freakLevel">
            Freak level: <span class="freakyLevel">&infin;</span>
        </div>
        <img class="freakyTongue" src="/assets/tongue.webp">
    </div>
    {%  if blog %}
        <iframe class="notification" src="/notification?theme={{ theme }}"></iframe>
    {% endif %}
</div>

<input type="checkbox" id="close-listening" style="display: none;">
<div class="listening-wrapper">
    <label for="close-listening" class="close-listening-btn"></label>
    <iframe loading="lazy" class="listening-to" src="/listening_to?refresh=1"></iframe>
</div>

<input type="checkbox" id="show-btc" style="display: none;">
<input type="checkbox" id="show-xmr" style="display: none;">
<div class="crypto-popup" id="btc-popup">
    <label for="show-btc" class="overlay"></label>
    <div class="popup-content">
        <div class="popup-header">
            <span>Bitcoin Address</span>
            <label for="show-btc" class="close"></label>
        </div>
        <img src="/assets/btc-qr.png" alt="" class="qr-code" width="200" height="200">
        <code class="crypto-address">{{ const.BTC_DONATION_ADDRESS }}</code>
    </div>
</div>

<div class="crypto-popup" id="xmr-popup">
    <label for="show-xmr" class="overlay"></label>
    <div class="popup-content">
        <div class="popup-header">
            <span>Monero Address</span>
            <label for="show-xmr" class="close"></label>
        </div>
        <img src="/assets/xmr-qr.png" alt="" class="qr-code" width="200" height="200">
        <code class="crypto-address">{{ const.XMR_DONATION_ADDRESS }}</code>
    </div>
</div>

</body>
</html>
