<!--
    Yeah. There is none. No JavaScript.
    Yes. The spotfiy and discord status update automatically. No JavaScript.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>damcraft.de</title>
    <meta content="DAMcraft.de" property="og:title" />
    <meta content="Hey! Welcome to my website!" property="og:description" />
    <meta content="https://damcraft.de/" property="og:url" />
    <meta content="https://damcraft.de/assets/dam.png" property="og:image" />
    <meta content="#00BEFF" data-react-helmet="true" name="theme-color" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="/blog/rss.xml">
    <link rel="stylesheet" href="/assets/style.css?hash={{ style_hash }}">
    <style>
        :root {
            {% if theme == "pink" %}
                --links: #ff1f64;
                --links-hover: #ff4e87;
                --selection: #ff1f64;
                --highlight: #e5195a;
            {% elif theme == "blue" %}
                --links: #00BEFF;
                --links-hover: #00d4ff;
                --selection: #00BEFF;
                --highlight: #00a6d4;
            {% endif %}
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="terminal-wrapper">
        <input type="checkbox" id="show-terminal">
        <div class="secret">
            <p>
                ...why would you do that? why the hell did you remove the terminal??
            </p>
            <label for="show-terminal" class="show-again">sorry...</label>
        </div>
        <div class="terminal">
            <div class="topbar">
                <span class="link-bar">
                    <span class="cycle"></span> | <a href="/blog">blog</a> ← please read | <a href="/blog/rss.xml">rss</a>
                </span>
                <label for="show-terminal" class="close"></label>
            </div>
            <div class="content">
                <section id="welcome">
                    <pre id="welcomeText">
     _                                 __ _             _
  __| | __ _ _ __ ___   ___ _ __ __ _ / _| |_        __| | ___
 / _` |/ _` | '_ ` _ \ / __| '__/ _` | |_| __|      / _` |/ _ \
| (_| | (_| | | | | | | (__| | | (_| |  _| |_   _  | (_| |  __/
 \__,_|\__,_|_| |_| |_|\___|_|  \__,_|_|  \__| (_)  \__,_|\___|
</pre>
            </section>
            <section id="about_me" class="nomargin">
                <span class="prefix">
                    <span style="color: #747f8d;">
                        root@<span class="servername">damcraft.de</span><span class="shortServername">dam</span>
                    </span>:~<span style="color: #747f8d;">$ </span>
                </span>
                <span class="command">cat about_me.txt</span>
                <div class="content-wrapper">
                    <img src="/assets/me.png" alt="me :3" class="about-image-separate" width="655" height="655">
                    <div class="text-content">
                        <input type="checkbox" id="showImage" style="display: none;" autocomplete="off">
                        <div class="about-image-inline">
                            <div class="about-image-topbar">
                                <span>dam.png</span>
                                <label for="showImage" class="close"></label>
                            </div>
                            <img src="/assets/me.png" alt="me :3" width="655" height="655">
                        </div>
                        Hi! I'm Damian, a {{age}}-year-old developer from Germany!<br>
                        You might know me from <a href="https://cuiiliste.de/">CUII-Liste</a>, a project that publishes a secret list of domains blocked by
                        German ISPs and <b>exposed</b> wrongful blocking of domains.<br>
                        If you're curious to find out more, there's English articles from <b>TorrentFreak</b> (<a href="https://torrentfreak.com/17-year-old-student-exposes-germanys-secret-pirate-site-blocklist-240822/">1</a>)(<a href="https://torrentfreak.com/homebrew-transparency-portal-reveals-needlessly-blocked-pirate-sites-240928/">2</a>),
                        or German ones from <b>Heise</b> (<a href="https://heise.de/-9847202">1</a> [<a href="https://heise.de/-9847399">en</a>])(<a href="https://heise.de/-9959663">2</a> [<a href="https://heise.de/-9960346">en</a>]) and
                        <b>Netzpolitik</b> (<a href="https://netzpolitik.org/2024/cuii-liste-diese-websites-sperren-provider-freiwillig/">1</a>)(<a href="https://netzpolitik.org/2024/cuii-viele-netzsperren-wirken-laenger-als-erlaubt/">2</a>)(<a href="https://netzpolitik.org/2024/cuii-liste-internetprovider-heben-39-netzsperren-auf/">3</a>).
                        There's more articles from Golem, Tarnkappe.info, winfuture and others, but I can't list them all here.<br>
                        You may have also heard of ServerSeeker, which scanned the <b>entire</b> IPv4 address space for Minecraft servers.
                        When I sold it, the discord server had more than 14k members and the bot was in over 9k discord guilds.<br>
                        {% if discord_invite != None %}
                            Development <b>discord server</b> for my projects: <a id="discordInv" href="{{discord_invite}}">{{discord_invite}}</a><br>
                        {% endif %}
                        I <b>love</b> programming in Python, Java, JavaScript and Rust.<br>
                        (Ok, that JavaScript part was a lie, this website is made entirely without JS.<span id="that_one_linebreak"><br></span>
                        &nbsp;And yes, my discord and <a href="/blog/spotify-status-without-js">spotify status</a> <i>do</i> update dynamically <b>without</b> JS)
                    </div>
                </div>
            </section>
            <section id="socials">
                <span class="prefix">
                        <span style="color: #747f8d;">root@<span class="servername">damcraft.de</span><span class="shortServername">dam</span></span>:~<span style="color: #747f8d;">$ </span></span>
                    <span class="command">./socials.sh</span>
                <div>
Do you want to contact me?<br>
You can find all my socials below!<br>
I will probably respond the fastest on Discord.<br>
You can find my PGP key just below this section.<br>
</div>
            <table>
                <tbody>
                    <tr>
                        <td><img src="/assets/blog.svg" alt="Blog" width="19" height="19"></td>
                        <td><a href="/blog">my blog</a> <i>(please give it a read!)</i> (<a href="/blog/rss.xml">rss</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/discord.svg" alt="Discord logo" width="19" height="19">
                        </td>
                        <td>@damcraft.de
                            {% if discord_status != None %}
                                <div id="discord_status">
                                    <iframe src="/discord_status?refresh_every=9" id="status1" height="20em"></iframe>
                                    <iframe src="/discord_status?refresh_every=10" id="status2" height="20em"></iframe>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/github.svg" alt="GitHub logo" width="19" height="19">
                        </td>
                        <td><a href="https://github.com/DAMcraft">DAMcraft</a></td>
                    </tr>
                    <tr>
                        <td><img src="/assets/matrix.svg" width="19" height="19" alt="Matrix logo"></td>
                        <td><a href="https://matrix.to/#/@me:damcraft.de">@me:damcraft.de</a></td>
                    </tr>
                    <tr>
                        <td><img src="/assets/mail.svg" alt="Email logo" width="19" height="19"></td>
                        <td>
                            <iframe src="/email.svg?theme={{ theme }}" style="border:none; width: 100%; height: 1em;vertical-align: middle;"></iframe>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/assets/mastodon.svg" alt="Mastodon logo" width="19" height="19"></td>
                        <td><a href="https://lethallava.land/@dam">@dam@lethallava.land</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section id="donations" class="nomargin">
            <span class="prefix">
                <span style="color: #747f8d;">root@<span class="servername">damcraft.de</span><span class="shortServername">dam</span></span>:~<span style="color: #747f8d;">$ </span>
            </span>
            <span class="command">support --list-methods</span>
            <div class="donation-grid">
                <a href="{{ const.PAYPAL_DONATION_URL }}" target="_blank" rel="noopener" class="donation-item paypal">
                    <img src="/assets/paypal.svg" alt="">PayPal</a>
                -=-
                <a href="{{ const.KO_FI_DONATION_URL }}" target="_blank" rel="noopener" class="donation-item ko-fi">
                    <img src="/assets/kofi.svg" alt="" >Ko-fi</a>
                <span id="crypto-donations">
                    -=-
                    <label for="show-xmr" class="donation-item xmr">
                        <img src="/assets/xmr.svg" alt="">XMR</label>
                    -=-
                    <label for="show-btc" class="donation-item btc"><img src="/assets/btc.svg" alt="">BTC</label>
                </span>
            </div>
        </section>

        <section id="pgpSection" class="nomargin">
            <span class="prefix">
                <span style="color: #747f8d;">root@<span class="servername">damcraft.de</span><span class="shortServername">dam</span></span>:~<span style="color: #747f8d;">$ </span></span>
            <span class="command" id="curlPgpCommand">curl <a href="https://damcraft.de/pgp">https://damcraft.de/pgp</a></span><span class="command" id="alternativePgpCommand">gpg --export</span><span id="blinking_cursor"></span>
            <input type="checkbox" id="showPgp">
            <label id="showPgpLabel" for="showPgp">
                <svg id="showPgpSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24"><path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"/></svg>
            </label>
            <a id="downloadPgp" href="/pgp" download>
                <span id="downloadPgpText">Download PGP</span><img src="/assets/download.svg" alt="Download PGP">
            </a>
            <pre id="pgp">
{{ pgp_key }}</pre>
                </section>
            </div>
        </div>
    </div>
    <section id="badges">
<!--        Frens and cool 88x31's go here-->
        {% if theme == "blue" %}
            <a href="/"><img src="/assets/88x31/dam.gif" alt="My badge"></a>
        {% else %}
            <a href="/"><img src="/assets/88x31/dam-pink.gif" alt="My badge"></a>
        {% endif %}
        {% if is_tor %}
            <a href="https://www.torproject.org/"><img src="/assets/88x31/tor.png" alt="Tor"></a>
        {% else %}
            <a href="https://we-are-jammin.xyz/"><img src="/assets/88x31/jammin.webp" alt="We are jammin"></a>
        {% endif %}
        <a href="https://magmaus3.eu.org/"><img src="/assets/88x31/magmaus3.gif" alt="Maia"></a>
        <a href="https://ssi.fyi/"><img src="/assets/88x31/ssi.gif" alt="ServerScanningInc"></a>
        <a href="https://notnite.com/"><img src="/assets/88x31/notnite.png" alt="notnite"></a>
        <a href="https://honbra.com/"><img src="/assets/88x31/honbra.png" alt="honbra"></a>
        <a href="https://eightyeightthirty.one/" title="88x31"><img src="/assets/88x31/eightyeightthirty.one.png" alt="88x31"></a>
        <a href="https://slonk.ing/" title="slonkazoid"><img src="/assets/88x31/slonkazoid.png" alt="slonk.ing"></a>
        <a href="https://adryd.com/" title="adryd"><img src="/assets/88x31/adryd.png" alt="adryd"></a>
        <a href="https://store.steampowered.com/app/17410/Mirrors_Edge/" title="Mirrors Edge"><img src="/assets/88x31/mirrorsedge.png" alt="I love edging"></a>
        <a href="https://shrecked.dev/" title="shrecknt"><img src="/assets/88x31/shrecknt.png" alt="shrecknt"></a>
        <a href="https://goldenstack.net/" title="GoldenStack"><img src="/assets/88x31/goldenstack.png" alt="GoldenStack"></a>
        <a href="#"><img src="/assets/88x31/no_external_sources.png" alt="No external sources"></a>
        <a href="https://matdoes.dev/retro"><img src="/assets/88x31/mat.png" alt="mat"></a>
        <a href="https://rexbluefox.dev/"><img src="/assets/88x31/bluefox.png" alt="RexBlueFox"></a>
        <a href="https://112batman.com/"><img src="/assets/88x31/112batman.gif" alt="112batman"></a>
        <a href="https://nikolan.xyz/" title="nikolan"><img src="/assets/88x31/nikolan.png" alt="nikolan"></a>
        <a href="https://binarytr.ee/" title="paddy"><img src="/assets/88x31/paddy.png" alt="paddy"></a>
        <a href="https://mullvad.net/"><img src="/assets/88x31/mullvad.png" alt="Mullvad"></a>
        <a href="https://freifunk.net/"><img src="/assets/88x31/freifunk.png" alt="Freifunk"></a>
        <label for="freaky" class="freaky-label"><img src="/assets/88x31/freakmode.gif" alt="Freaky mode"></label>
        <a href="https://cbax.dev/"><img src="/assets/88x31/cbax.gif" alt="cbax"></a>
        <a href="https://sipacid.com/"><img src="/assets/88x31/sipacid.gif" alt="sipacid"></a>
        <a href="https://funtimes909.xyz/"><img src="/assets/88x31/funtimes909.png" alt="funtimes909"></a>
        <a href="https://northernsi.de/"><img src="/assets/88x31/northernside.png" alt="northernsi.de"></a>
        <a href="https://ees4.dev/"><img src="/assets/88x31/ees4.png" alt="eesa"></a>
        <a href="https://veronoi.cc/"><img src="/assets/88x31/veronoicc.gif" alt="Vero (veronoicc)"></a>
        <a href="https://restartb.xyz/"> <img src="/assets/88x31/restart.png" alt="restartb.xyz"></a>
        <a href="https://tufo.dev/"><img src="/assets/88x31/tufo.png" alt="tufo.xyz"></a>
        <a href="https://kibty.town"><img src="/assets/88x31/kibty-town.gif" alt="kibty.town/eva"></a>
        <a href="https://zptr.cc/"><img src="/assets/88x31/zeroptr.png" alt="Yui"></a>
        <a href="https://haylinmoore.com/"><img src="/assets/88x31/haylin.png" alt="Haylin Moore"></a>
        <a href="https://www.thomasricci.dev"><img src="/assets/88x31/thomasricci.png" alt="Thomas Ricci"></a>
        <a href="https://freieslabor.org/"><img src="/assets/88x31/freieslabor.png" alt="Freies Labor"></a>
        <a href="https://lona.moe/"><img src="/assets/88x31/lona.gif" alt="Lona"></a>
        <a href="https://eps-dev.de/"><img src="/assets/88x31/eps-dev.png" alt="eps-dev.de (Lillychan)"></a>
        <a href="https://ezri.pet"><img src="/assets/88x31/ezri.png" alt="Ezri"></a>
        <a href="https://nexy7574.co.uk/"><img src="/assets/88x31/nexy.webp" alt="Nexy7574"></a>
        <a href="https://patsore.org"><img src="/assets/88x31/patsore.png" alt="Patsore"></a>
        <a href="https://cryne.me"><img src="/assets/88x31/cryne.webp" alt="Paddi"></a>
        <a href="http{# no https, noqa #}://makea.fish/"><img src="/assets/88x31/makeafish.png" alt="Come back at 11:11"></a>
        <a href="https://bobdahacker.com/"><img src="/assets/88x31/bob.png" alt="BobDaHacker"></a>
    </section>
    <div class="webring">
        <p class="webring-text">
            <a
                    href="https://ring.ssi.fyi/previous?host=damcraft.de"
                    class="glitch-hover align-left"
                    aria-label="←">←</a>
            <a
                    href="https://ring.ssi.fyi/"
                    class="glitch-hover"
                    aria-label="ssi/webring" aria-description="ssi-webring">ssi webring</a>
            <a
                    href="https://ring.ssi.fyi/next?host=damcraft.de"
                    class="glitch-hover"
                    aria-label="→">→</a>
        </p>
    </div>

    <input type="checkbox" id="freaky">
    <div class="freakedUp">
        <div class="freakLevel">
            Freak level: <span class="freakyLevel">&infin;</span>
        </div>
        <img class="freakyTongue" src="/assets/tongue.webp">
    </div>
    {%  if blog %}
        <iframe class="notification" src="/notification?theme={{ theme }}"></iframe>
    {% endif %}
</div>

<input type="checkbox" id="close-listening" style="display: none;">
<div class="listening-wrapper">
    <label for="close-listening" class="close-listening-btn"></label>
    <iframe loading="lazy" class="listening-to" src="/listening_to?refresh=1"></iframe>
</div>

<input type="checkbox" id="show-btc" style="display: none;">
<input type="checkbox" id="show-xmr" style="display: none;">
<div class="crypto-popup" id="btc-popup">
    <label for="show-btc" class="overlay"></label>
    <div class="popup-content">
        <div class="popup-header">
            <span>Bitcoin Address</span>
            <label for="show-btc" class="close"></label>
        </div>
        <img src="/assets/btc-qr.png" alt="" class="qr-code" width="200" height="200">
        <code class="crypto-address">{{ const.BTC_DONATION_ADDRESS }}</code>
    </div>
</div>

<div class="crypto-popup" id="xmr-popup">
    <label for="show-xmr" class="overlay"></label>
    <div class="popup-content">
        <div class="popup-header">
            <span>Monero Address</span>
            <label for="show-xmr" class="close"></label>
        </div>
        <img src="/assets/xmr-qr.png" alt="" class="qr-code" width="200" height="200">
        <code class="crypto-address">{{ const.XMR_DONATION_ADDRESS }}</code>
    </div>
</div>

</body>
</html>
